.feature-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: hsl(208, 49%, 24%);
  margin: 2rem 0;
}
.feature-para {
  font-size: 1.14rem;
  color: hsl(207, 13%, 34%);
  margin: 2rem 0 5rem;
  font-weight: 300;
  line-height: 1.8rem;
}
.section1 h3,
.section1 p {
  width: 50%;
}
.section2 .FeatureText {
  width: 50%;
  padding-right: 10vw;
  display: grid;
  place-content: center;
  height: 28rem;
}
.section2 h3 {
  color: white;
  font-size: 1.9rem;
  margin-top: 0;
}
.section2 p {
  margin: 0;
  color: white;
}
@media only screen and (max-width: 950px) {
  .section2 .FeatureText {
    padding-right: 5vw;
  }
}
