.FooterSection {
  margin-top: 5rem;
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 8rem 0 0;
  padding: 3rem 10vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.FooterSection * {
  font-family: "Ubuntu", sans-serif;
}
.footer-links:last-child {
  padding-right: 12vw;
}
.footer-links h4 {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.footer-links .cta {
  background-color: transparent;
  border: transparent;
  color: hsl(240, 2%, 79%);
  display: block;
  line-height: 1.9rem;
  font-size: 1rem;
}
@media only screen and (max-width: 649px) {
  .FooterSection > div {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
  }
  .footer-links .cta {
    width: 100%;
  }
  .footer-links:last-child {
    padding: 0;
  }
}
@media only screen and (max-width: 950px) {
  .FooterSection {
    padding: 3rem 5vw;
    margin-top: 0;
  }
}
@media only screen and (min-width: 650px) and (max-width: 950px) {
  .footer-links:last-child {
    padding-right: 5vw;
  }
}
