.Header {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#logo {
  padding-right: 5rem;
}
#nav-menu {
  display: none;
}
nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 2.5rem;
}
.nav-actions button {
  font-weight: 600;
  font-size: 1rem;
  background: transparent;
  border: none;
  margin-left: 2.5rem;
  color: white;
}
.nav-actions button:last-child {
  padding: 0.8rem 2rem;
  color: hsl(356, 100%, 66%);
  background-color: white;
  border-radius: 1.5rem;
}
.Header hr {
  display: none;
}
