.HeroSection {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  border-radius: 0 0 0 8rem;
}
.hero-container {
  position: relative;
  height: 100vh;
  border-radius: 0 0 0 8rem;
  background-image: url("../assets/images/bg-pattern-intro-desktop.svg");
  background-size: 190%;
  background-position: center left 20%;
  background-repeat: no-repeat;
  padding: 0 10vw;
}
.hero-text {
  width: calc(100% - 20vw);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 1rem;
}
.hero-text p {
  color: white;
  margin: 1rem 0 3rem;
  font-size: 1.3rem;
}
.hero-text .secondary-btn {
  margin-left: 1.5rem;
}
.secondary-btn {
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid white;
  cursor: pointer;
  width: 8.5rem;
  height: 3rem;
  color: white;
  background-color: transparent;
  border-radius: 1.5rem;
  transition: 0.3s;
}
.secondary-btn:hover {
  color: hsl(356, 100%, 66%);
  background-color: white;
}
@media only screen and (max-width: 950px) {
  .hero-container {
    padding: 0 5vw;
  }
}
