.HeroSection {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  border-radius: 0 0 0 8rem;
}
.hero-container {
  height: 100vh;
  border-radius: 0 0 0 8rem;
  background-image: url("../assets/images/bg-pattern-intro-desktop.svg");
  background-size: 190%;
  background-position: center left 20%;
  background-repeat: no-repeat;
  padding: 0 10vw;
}
