.section1 {
  position: relative;
  min-height: 120vh;
  /* height: 120vh;
  background-image: url("../assets/images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-size: 55rem;
  background-position: center right -15rem; */
}
h2 {
  text-align: center;
  color: hsl(208, 49%, 24%);
  padding-top: 7rem;
  font-size: 2.2rem;
}
.section1 .deco-img {
  position: absolute;
  top: 3rem;
  right: -16rem;
}
