.MainSection {
  padding: 0 10vw;
}
.section1 {
  /* height: 120vh;
  background-image: url("../assets/images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-size: 55rem;
  background-position: center right -15rem; */
}
.section-body {
  display: flex;
  position: relative;
}
h2 {
  text-align: center;
  color: hsl(208, 49%, 24%);
  padding: 8rem 0 4rem;
  font-size: 2.2rem;
}
.section1 .section-img {
  position: absolute;
  width: 55rem;
  max-width: 95%;
  top: -10rem;
  right: -25rem;
}
