.MainSection {
  padding: 0 10vw;
}
.section-body {
  display: flex;
  position: relative;
}
h2 {
  text-align: center;
  color: hsl(208, 49%, 24%);
  padding: 8rem 0 4rem;
  font-size: 2.2rem;
}
.section1 .section-img {
  position: absolute;
  width: 55rem;
  max-width: 95%;
  top: -10rem;
  right: -25rem;
}
.section2 {
  width: calc(100% + 20vw);
  margin-left: -10vw;
  margin-top: 5rem;
  background-image: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
  height: 28rem;
  border-radius: 0 8rem 0 8rem;
}
.section2 .section-body {
  background-image: url("../assets//images//bg-pattern-circles.svg");
  background-position: left -12rem bottom -8rem;
  background-repeat: no-repeat;
  justify-content: end;
  /* height: 50vh; */
  align-items: center;
}
.section2 .section-img {
  width: 42%;
  position: absolute;
  top: -5rem;
  left: 7vw;
}
.section3 {
  margin-top: 5rem;
}
.section3 .section-body {
  justify-content: end;
}
.section3 .section-img {
  position: absolute;
  width: 55rem;
  max-width: 95%;
  top: -5rem;
  left: -25rem;
}
.section3 .section-text {
  width: 50%;
}
@media only screen and (max-width: 950px) {
  .MainSection {
    padding: 0 5vw;
  }

  .section2 {
    width: calc(100% + 10vw);
    margin-left: -5vw;
  }
  .section2,
  .section3 {
    margin-top: 0;
  }
  .section2 .section-img {
    left: 2vw;
  }
  .section-img {
    top: 0 !important;
  }
}
