body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.f-overpass {
  font-family: "Overpass", sans-serif;
}
.f-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
